* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    background-color: black;
    min-height: 100vh;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    gap: 24px;

    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    padding: 16px;
}

.aside{
grid-area: aside;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer; 
    padding: 8px;
    text-align: center;
}

.user-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 100%;
    gap: 24px;
}

.module-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
}

.module {
    padding: 24px;
    background-color: rgb(124, 14, 79);
    border-radius: 24px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.236);
    transition: all .3s;
}

.module:hover {
    transform: translateY(-8px);
}

.user-module{
    color: rgb(255, 193, 239);
    background-color: rgb(255, 0, 136);
}

.big-module{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.horizontal-module{
    grid-column: 2 / 4;

    color: rgb(255, 193, 239);
    background-color: rgb(255, 0, 136);
}

.vertical-module{
    grid-row: 4 / 6;
    grid-column: 2;
}